@model IEnumerable<Lafrancol.SoluEventos.Entidades.ProveedorDto>

@{
    ViewBag.Title = "leerProveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>leerProveedores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.razonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personaContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personaContacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
